<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=renderer content=webkit>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=1250,initial-scale=1">
    <title>ITStudio</title>
    <link href='media/logoTitle.ico' rel=icon type=image/x-icon>
    <meta name=keywords content=ITStudio>
    <meta name=description content=中国海洋大学社团>
    <link href='static/index/css/app.0562048d.css' rel=preload as=style>
    <link href='static/index/css/chunk-vendors.edce24a1.css' rel=preload as=style>
    <link href='static/index/js/app.ea7acc76.js' rel=preload as=script>
    <link href='static/index/js/chunk-vendors.f5219735.js' rel=preload as=script>
    <link href='static/index/css/chunk-vendors.edce24a1.css' rel=stylesheet>
    <link href='static/index/css/app.0562048d.css' rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=static/index/js/chunk-vendors.f5219735.js></script>
<script src=static/index/js/app.ea7acc76.js></script>
</body>
</html>