<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=renderer content=webkit>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>ITStudio</title>
    <link href='media/logoTitle.ico' rel=icon type=image/x-icon>
    <meta name=keywords content=ITStudio>
    <meta name=description content=中国海洋大学社团>
    <link href='static/index/css/app.0a1bfc0a.css' rel=preload as=style>
    <link href='static/index/css/chunk-vendors.c80f0180.css' rel=preload as=style>
    <link href='static/index/js/app.11405e57.js' rel=preload as=script>
    <link href='static/index/js/chunk-vendors.8752346e.js' rel=preload as=script>
    <link href='static/index/css/chunk-vendors.c80f0180.css' rel=stylesheet>
    <link href='static/index/css/app.0a1bfc0a.css' rel=stylesheet>
</head>
<body>
<div id=app></div>
<script>let isMobile = function () {
    return navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
};
if (isMobile()) {
    let e = 1 / window.devicePixelRatio,
        i = `<meta name="viewport" content="width=device-width, initial-scale=${e}, maximum-scale=${e}, minimum-scale=${e}, user-scalable=no">`;
    document.write(i), document.documentElement.style.fontSize = window.innerWidth / 13.5 + "px", document.documentElement.setAttribute("data-dpr", window.devicePixelRatio + "")
} else {
    const e = '<meta name="viewport" content="width=device-width, initial-scale=1.0">';
    document.write(e), document.documentElement.style.fontSize = window.innerWidth / 15.5 + "px", document.documentElement.setAttribute("data-dpr", window.devicePixelRatio + "")
}</script>
<script src='static/index/js/chunk-vendors.8752346e.js'></script>
<script src='static/index/js/app.11405e57.js'></script>
</body>
</html>